header{
    background-color: rgb(180, 113, 51);
}
content{
    background-color: green;
}
footer{
    background-color: rgb(252, 141, 159);
}
/* global style to remove margins and padding from default*/
*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper{
    background-color: rgb(255, 205, 111);
    display: flex;
    padding: 50px 50px 50px 50px;
}

.gameBoard, .tableroCheck{
    width: auto;
    background-color: azure;
    display: inline-block;
}

/* estilos para el tablero del juego */
.fixGameBoard {
    position: relative;
    float: left;
    width: 380px;
    height: 550px;
}
/*tablero*/
.gameBoard{
    position: absolute;
    left: 0;
    margin: .5em 0 2em;
    width: 350px;
    height: 530px;
    padding: .5em;
    background-color: #f8f8f7;
    border: 1px solid #d1d1cf;
    border-radius: 5px 5px 5px 5px;
}
/*filas del tablero*/
.boardRow {
    float: left;
    width: 355px;
    height: 130px;
}
/*cada celda de las filas del tablero*/
.cardCell {
    float: left;
    width: 78px;
    height: 124px;
    border: 1px solid #000;
    margin: .2em;
    cursor: pointer;
    background-image: url(/images/cardBack.png);
    background-repeat: no-repeat;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    z-index: 500;
}


label{
    width: 20px;
}

li{
    color:red;
    list-style: none;
}

