*{
    font-family: 'Dela Gothic One', cursive;
}
body{
    background-image: url(/Imagen_fondo/imagen_fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecera{
    background-color: #aca56f;
    text-align: center;
    font-size: 60px;
    color: #ffffff;
    text-shadow: /* Las sombras que tendra el texto */
    5px 5px 5px #ff682c;
}

.wrapper{ /* Color de fondo */
    text-align: center;
    color:#686868;
    display: grid;
    place-items: center;
    padding: 10px;
}

p{
    color:rgb(255, 255, 255)
}

.boton{ /* Boton para iniciar el juego*/
    text-align: center;
}

.gameBoard, .tableroCheck{
    margin: 9px;
    font-size: 20px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.767);
    display: inline-block;
}

/* estilos para el tablero del juego */
.fixGameBoard {
    position: relative;
    float: left;
    width: 600px;
    height: 550px;
}

.gameBoard{
    position: center;
    background-color: #ffffff00;
}
.boardRow {
    width: 355px;
    height: 130px;
    display: inline-block;
    place-items: center;
}

.cardCell {
    float: left;
    width: 78px;
    height: 124px;
    border: 6px solid rgb(255, 255, 255);
    margin: 5px;
    cursor: pointer;
    background-image: url(/images/cardBack.png);
    background-repeat: no-repeat;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    z-index: 500;
}

.mySlides{
    /* width: 123px; */
    height: 168px;
    /* border: 22.5px solid rgb(18, 153, 0); */
    /* margin: 9px; */
}

.piedraTag{
    width: 70px;
}