header{ /* Cabecera*/
    background: url(/Imagenes/fondo_cabecera.jpg); /* Imagen de Cabecera - Papel picado*/
    background-size: 50%, 50%;
    height: 250px;
    overflow: hidden;
}

h1 { /* Texto de Cabecera*/
    text-align: center;
    font-size: 80px;
    margin-top: 5%; /* Para que quede centrado el texto de cabecera*/
    color: #00d624;
    text-shadow: /* Las sombras que tendra el texto */
    4px 4px 0px #E0E4CC,
    9px 8px 0px #ff2f2f;
}

content{
    background-color: green;
}
footer{
    background-color: rgb(0, 0, 0);
}
/* global style to remove margins and padding from default*/
*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper{ /* Color de fondo */
    background-color: rgb(14, 37, 82);
    display: flex;
    padding: 50px 50px 50px 50px;
}

.gameBoard, .tableroCheck{
    width: auto;
    background-color: azure;
    display: inline-block;
}

/* estilos para el tablero del juego */
.fixGameBoard {
    position: relative;
    float: left;
    width: 380px;
    height: 550px;
}

.gameBoard{
    position: absolute;
    left: 0;
    margin: .5em 0 2em;
    width: 350px;
    height: 530px;
    padding: .5em;
    background-color: #f8f8f7;
    border: 1px solid #d1d1cf;
    border-radius: 5px 5px 5px 5px;
}
.boardRow {
    float: left;
    width: 355px;
    height: 130px;
}

.cardCell {
    float: left;
    width: 78px;
    height: 124px;
    border: 1px solid #000;
    margin: .2em;
    cursor: pointer;
    background-image: url(/images/cardBack.png);
    background-repeat: no-repeat;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    z-index: 500;
}

label{
    width: 20px;
}

li{
    color:red;
    list-style: none;
}

body {
    margin: 0; /* Le agregue un margen al texto */
    font-family: 'Montserrat', sans-serif; /* Se le cambio la tipografia */
}
